.container{
    background: white;
    max-width: 50%;
    border-radius: 10%;
    img{
        width: 15%;
    }
    p{
        font-family: sans-serif;
    }
    .welcome{
        color: #00a89c;
        font-weight: 600;
    }
    .button{
        background: #00a89c;
        border-radius: 5px;
        text-align: center;
    }
}