/*.container{
    background: white;
    max-width: 50%;
    border-radius: 10%;
    img{
        width: 15%;
    }
    p{
        font-family: sans-serif;
    }
    .welcome{
        color: #00a89c;
        font-weight: 600;
    }
    .button{
        background: #00a89c;
        border-radius: 5px;
        text-align: center;
    }
}*/

.login-container{
    text-align: center;
    padding: 10% 0;
}

.img-hsp{
    border-radius: 50px;
}

.login{
    text-align: left;
}

.login .welcome{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.btn-div{
    text-align: center;
}

label{
    color: #fff;
}